
<!--
Vahideh Haddadi
ID: 149955163
-->


<img id="main" src="/img/product.jpg" alt="products">



<div class="container ">
    
    {{#each products}}

    <div class="row">
        <div class="col-md-2">
                    <img class="img-fluid img-responsive img-thumbnail" src="/photos/{{img}}" alt="Image for {{title}}"> 
        </div>

       <div class="col-md-2">Title: {{title}}</div>
            <div class="col-md-4">Ingredients: {{Ingredient}}</div>
            <div class="col-md-2">Price: {{Price}}</div> 
       
        <div class="hidden">
                {{Category}} <br>
                {{RTEday}} <br> 
        </div>
        {{#if role}}

        {{/if}}

    </div>
    {{else}}
            <h4>No products were found</h4>
    {{/each}}

   
</div>
